
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*.tmp
*.log
*.bak
.idea/
.vscode/
*.code-workspace


node_modules/
dist/
.vite/
.vite-temp/
.vite-*
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/*.cache
**/*.pdb
**/*.nupkg
**/*.snupkg
**/*.dll
**/*.exe
**/*.pfx
**/*.db
**/*.db-shm
**/*.db-wal
**/*_i.c
**/*_p.c
**/*_h.h
**/*.csproj.user
**/TestResults/


appsettings.Development.json
appsettings.*.json

*.env
.env.*
*.secrets


logs/
*.log
